.display {
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-gap: 20px;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 20px;
}

/* .painting {
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;   
}

a { 
    margin-top: 5px;
} */

figure {
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;   
}

figcaption {
    margin-top: 5px;    
}