#first {
    background-color: red;
    height: 30px;
    width: 30px;
    margin-bottom: 15px;
}

#second {
    background-color: green;
    height: 30px;
    width: 30px;
    margin-bottom: 15px;
    margin-left: 45px;
}

#third {
    background-color: yellow;
    height: 30px;
    width: 30px;
    margin-bottom: 15px;
    margin-left: 90px;
}

#fourth {
    background-color: green;
    height: 30px;
    width: 30px;
    margin-bottom: 15px;
    margin-left: 135px;
}

#fifth {
    background-color: red;
    height: 30px;
    width: 30px;
    margin-bottom: 15px;
    margin-left: 180px;
    ;
}