body {
    font-family: monospace;
}

h1 {
    margin: 20px auto;
    max-width: fit-content;
    font-size: 42px;
}

.columns {
    display: flex;
}

.underline {
    text-decoration: underline;
}

.linethrough {
    text-decoration: line-through;
}

.column {
    flex: 1;
    padding-inline: 32px;
    text-align: justify;
    font-size: 18px;
}

.column:nth-child(2) {
    border: 1px solid gray;
    border-top: none;
    border-bottom: none;
}

.column:nth-child(2) .section:last-child {
    border-top: 1px solid gray;
    padding-top: 12px;
}

.column:nth-child(2) .section:last-child .text {
    margin-top: 8px;
}

.column:last-child .text:first-of-type{
    padding-right: 60px;
}

.column:last-child .text:last-child {
    margin-top: 40px;
    padding-left: 54px;
}

.red {
    color: red;
}

.logo-right {
    float: right;
    width: 100px;
    padding-top: 8px;
    padding-left: 18px;
    padding-right: 6px;
    padding-bottom: 2px;
}

.logo-left { 
    float: left;
    width: 100px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 16px;
    padding-bottom: 12px;
}