.bloc{
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

@media screen and (min-width: 0px) and (max-width: 549px) {
    .bloc{
        width: 100%;
    }
}

@media screen and (min-width: 550px) and (max-width: 699px) {
    .bloc{
        width: 50%;
    }
}

/* @media screen and (min-width: 700px) {
    .bloc{
        width: 25%;
    }
} */