.bloc{
    /* height: 50px; */
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.bloc-1{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.bloc-2{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.bloc-3{
    grid-column: 3 / 4;
    grid-row: 2 / 5;
}

.bloc-4{
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.bloc-5{
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}