.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.squares-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 200px;
    height: 200px;
    background-color: green;
}

.red-square{
    width: 20px;
    height: 20px;
    background-color: red;
}