#main {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 124px;
}

#red {
    background-color: red;
    width: 160px;
    height: 50px;
}

#yellow {
    background-color: yellow;
    width: 80px;
    height: 60px;
    margin-left: 50px;
    margin-top: -105px;
}

#orange {
    background-color: orange;
    width: 300px;
    height: 60px;
    margin-top: 20px;
    margin-left: 100px;
}

#blue {
    background-color: cyan;
    width: 180px;
    height: 40px;
    margin-top: 100px;
}

#green {
    background-color: green;
    width: 320px;
    height: 100px;
    margin-top: 4px;
}

#grey {
    background-color: grey;
    width: 160px;
    height: 50px;
    margin-top: -100px;
    margin-left: 324px;
}

#black {
    background-color: black;
    width: 240px;
    height: 50px;
    margin-top: 54px;
    margin-left: 242px;
}