.redsquare {
    background-color: red;
    height: 30px;
    width: 30px;
}

.greensquare {
    background-color: green;
    height: 30px;
    width: 30px;
}

.yellowsquare {
    background-color: yellow;
    height: 30px;
    width: 30px;
}