.bloc{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 100px auto 50px;
}

header{
    grid-column: 1 / 4;
    grid-row: span 1;
}

.content{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

footer{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

@media screen and (min-width: 0px) and (max-width: 549px) {
    .content {
        grid-column: 1 / 3;
    }
}

@media screen and (min-width: 550px) and (max-width: 699px) {
    header,
    footer {
        grid-column: 2 / 4;
    }

    aside {
        grid-row: 1 / 4;
    }
}
